<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title jQuery-pageloading
        link( type="text/css" rel="stylesheet", href="css/all.css")
        link(href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" 
               integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
               crossorigin="anonymous" async)
        //- script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
        //-       integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        //-       crossorigin="anonymous" async)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.js" async)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.ui.min.js" async)
        script(rel="text/javascript" src="js/all.js" async)
    body
        .person
            .girl
                .red  
                .leg
            .boy
                .blue
                .leg
        h2.title Hi

        .loading
            .bow
            .loadingBar
                .bar